.questionnaire-form-area p.head label {
  float: left;
  width: 200px;
}

.questionnaire-form-area p.head label,
.questionnaire-form-area p.title input {
  display: block;
}

.questionnaire-form-area p.title input {
  width: 300px
}

.question {
  float: left;
  border-bottom: 1px solid gray;
  padding: 10px 0 20px 0;
}

.question label {
  float: left;
}

.question label.title {
  width: 200px;
}

.question textarea {
  height: 50px;
  float: left;
}

.question input {
  float: left;
}

.question select {
  float: left;
  margin-left: 30px;
}

.optional_label {
 margin-left: 30px;
}

.comment_label {
 margin-left: 30px;
}

.question a {
  background-image:url(/images/admin/add-question.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding-left: 15px;
  color:black;
  font-size:12px;
  text-decoration:none;
  float: left;
}

#questionnaire-add-new-questionnaire,
#add-question a {
  background-image:url(/images/admin/add-new-question.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding-left: 30px;
  color:black;
  font-size:12px;
  height:31px;
  line-height:31px;
  text-decoration:none;
  float: left
}

.question .remove a, .answer a {
  display: block;
  background-image:url(/images/admin/remove-answer.png);
  padding-left: 15px;
  color:black;
  font-size:12px;
  text-decoration:none;
  float: left;
}

a.move-up {
  background-image:url(/images/admin/move_higher.png);
  padding-left: 20px;
  margin-left: 30px;
}

a.move-down {
 background-image:url(/images/admin/move_lower.png);
 padding-left: 20px;
 margin-left: 10px;
}

.data, .remove, .answers, .answer, #add-question, .buttons {
  float: left;
  width: 100%;
}

.remove {
 margin-bottom: 10px;
}
.move-up {
  float: left;
}

div.answer {
  margin-left: 200px;
}

div.hide {
  display: none;
}

.answers a {
 display: none;
}

.answers .answer a {
  display: block;
}

.answers a.show {
  display: block;
}

.answer a {
  margin-left: 30px;
}

#add-question {
  margin-top: 10px;
}

* html .answer label {
  float: left;
}

* html .answer {
  margin-left: 0;
  padding: 0;
}

* html .answer textarea {
  margin-left: 0;
  padding: 0;
  float: left;
}