.questionnaire-form-area p.head label {
  float: left;
  width: 200px;
}

.questionnaire-form-area p.head label,
.questionnaire-form-area p.title input {
  display: block;
}

.questionnaire-form-area p.title input {
  width: 300px
}

.question {
  float: left;
  border-bottom: 1px solid gray;
}

.question label {
  float: left;
}

.question label.title {
  width: 200px;
}

.question textarea {
  height: 50px;
  float: left;
}

.question input {
  float: left;
}

.question select {
  float: left;
}

.question a {
  background-image:url(/images/admin/add-question.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding-left: 15px;
  color:black;
  font-size:12px;
  text-decoration:none;
  float: left;
}

#questionnaire-add-new-questionnaire,
#add-question a {
  background-image:url(/images/admin/add-new-question.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding-left: 15px;
  color:black;
  font-size:12px;
  height:31px;
  line-height:31px;
  text-decoration:none;
  float: left
}

.data, .remove, .answers, .answer, #add-question, .buttons {
  float: left;
  width: 95%;
}

.move-up {
  float: left;
}