- fields_for "questionnaire[questionnaire_answer_attributes][]", answer do |answer_child_form|
  %p.content
    = answer_child_form.hidden_field :questionnaire_question_id, :value => qq_id , :index => nil
    = answer_child_form.hidden_field :new_data_id, :index => nil, :class => 'new-data'
    %label Answer
    - unless answer.new_record?
      = answer_child_form.hidden_field :id, :index => nil
    = answer_child_form.text_area :answer, :index => nil