%h1 Remove Questionnaire

%p
  Are you sure you want to
  %strong.warning permanently remove
  the following questionnaire?

%table.index#snippets{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level-1
      %td.snippet
        = image('snippet', :alt => "snippet-icon")
        %span.title= @questionnaire.questionnaire_contents.first.title

- form_for [:admin, @questionnaire], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Questionnaire"}/
    or
    = link_to 'Cancel', admin_snippets_url